@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  @apply bg-background text-foreground antialiased;
}

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

main {
  @apply min-h-screen bg-hero-radial;
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

